name: Docker Image CI

on: [push, pull_request]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build the dev Docker image
      run: docker build . --file test/migrator-dev/Dockerfile --tag migrator-dev:$(date +%s)

    - name: Build the production Docker image
      run: docker build . --build-arg GIT_REF=${{ github.ref }} --build-arg GIT_SHA=${{ github.sha }} --tag migrator-prod:$(date +%s)
